# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [ ]:
# запуск презентации
!jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

In [5]:
import pandas as pd

In [ ]:
ДОМАШНЕЕ ЗАДАНИЕ

In [4]:
# Задание 1
#Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
#Определите какому фильму было выставлено больше всего оценок 5.0.

ratings = pd.read_csv('ml-25m/ratings.csv')
rate_5 = ratings[ratings['rating'] == 5.0]
movies = pd.read_csv('ml-25m/movies.csv')
movies.head()

best_movie = movies[ (movies['movieId']== 318)]
best_movie.head()

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

In [7]:
# Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
#категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity.

consumption = pd.read_csv('power.csv')
filtered_countries = consumption[ (consumption['country']=='Latvia') | (consumption['country']=='Lithuania') | (consumption['country']=='Estonia')]
filtered_years = filtered_countries[(filtered_countries['year']==2005) | (filtered_countries['year']==2006) | (filtered_countries['year']==2007)]
filtered_cats = filtered_years[ (filtered_years['category']==4) | (filtered_years['category']==12) | (filtered_years['category']==21)]
filtered_cats[filtered_cats.quantity > 0].head()
total_baltic_consumption = filtered_cats.quantity.sum()

total_baltic_consumption

117335.0

In [20]:
# Задание 3
#Выберите страницу любого сайта с табличными данными.
#Импортируйте таблицы в pandas dataframe.
page_url = 'https://www.finanz.ru'
df = pd.read_html(page_url, attrs = {'class':'header_user_pricebox'}, encoding='utf-8')

df

[     0       1      2        3      4     5        6      7      8        9   \
 0  ММВБ   2 768   0,2%   Nasdaq  9 874  1,2%  Биткойн  9 173  -0,2%  USD/RUB
 1   РТС   1 240  -0,6%   S&P500  3 053  1,5%    Нефть    415  -0,5%  EUR/RUB
 2   Dow  25 596   2,3%  FTSE100  6 226  1,1%   Золото  1 770  -0,1%  EUR/USD

        10     11
 0  700845  -0,1%
 1  788195  -0,1%
 2   11242   0,0%  ]

In [10]:
ratings.head()

       userId  movieId  rating            timestamp
0  39032b0f7a        1     3.0  1997-11-06 06:36:16
1  39032b0f7a       17     3.0  1997-11-06 05:26:18
2  39032b0f7a       21     3.0  2000-10-02 07:45:30
3  39032b0f7a       34     4.0  1997-11-06 05:45:08
4  39032b0f7a       62     4.5  2003-06-18 04:09:17

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458970 entries, 0 to 458969
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     458970 non-null  object
 1   movieId    458970 non-null  int64
 2   rating     458970 non-null  float64
 3   timestamp  458970 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 14.0+ MB

In [5]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

13012

In [6]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

CPU times: user 87.4 ms, sys: 16.3 ms, total: 104 ms
Wall time: 142 ms

            movieId  rating  timestamp
userId
b986438d3c     4295    4295       4295
d6dc47fa4c     3873    3873       3873
f87af9e2d7     3627    3627       3627
1d4a231eb8     3179    3179       3179
6fec92c8a0     2842    2842       2842

# Lifetime

In [6]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

       movieId         rating        timestamp
           min     max    min  max         min         max
userId
1          110  112552    0.5  5.0  1425941300  1425942699
2            5    1552    1.0  5.0   867039165   867041296
3          480    4474    2.0  4.0  1048076830  1048077048
4          223    5679    1.0  5.0  1042667845  1042674886
5            7    3255    1.0  5.0   949423787   949424522

In [7]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId         rating        timestamp              diff
           min     max    min  max         min         max
userId
1          110  112552    0.5  5.0  1425941300  1425942699  1399
2            5    1552    1.0  5.0   867039165   867041296  2131
3          480    4474    2.0  4.0  1048076830  1048077048   218
4          223    5679    1.0  5.0  1042667845  1042674886  7041
5            7    3255    1.0  5.0   949423787   949424522   735

In [8]:
ratings_grouped['diff'].mean() / 24 / 3600

126.22761148027357

In [9]:
%%time

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

CPU times: user 14.3 s, sys: 2.41 s, total: 16.7 s
Wall time: 18 s

# JOIN как в SQL

In [10]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama